body{
background: linear-gradient(90deg,rgba(190, 190, 209, 1) 0%, rgba(75, 75, 184, 1) 54%, rgba(0, 212, 255, 1) 100%);   
}

.game-box{
    background-color: aliceblue;
    border-style: solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    width: 50%;
    margin: auto  ;
    margin-top: 10%;
}

.div-title{
    color: #524ED3;
    font-family: 'inter';
    font-size: 3rem;
}
.hint{
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
    margin-top: 5%;
}
b{
    font-family: 'inter';
}
.guess-input{
display: flex;
flex-direction: column;
margin:5%;
}
p{
    font-family: 'inter';
}
.guessing{
    display: flex;
    flex: row;
}
 #guessed-letter{
    margin:5%;
    max-width: 15%;
}
.submit{
    background-color: blueviolet;
    color:white;
    font-family: 'inter';
    margin-top: 3px;
    border-radius: 10px;
    border-style:groove;
    padding: 5%;
    width: 100%;
}
#hint:hover{
background-color:#8D4BAE;
    cursor: pointer;
}
.submit:hover{
    background-color:#8D4BAE;
    cursor: pointer;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.given-hint{
    font-family: 'inter';
}